<?xml version="1.0"?>
<!-- hx2_d1 gripper -->

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="hx2_d1" params="prefix parent *origin">

    <xacro:property
      name="meshes_file_direction"
      value="package://ffw_description/meshes/common/hx2_d1"/>

    <joint name="${prefix}joint" type="fixed">
      <xacro:insert_block name="origin" />
      <parent link="${parent}"/>
      <child link="${prefix}hx2_d1_base" />
    </joint>

    <!-- base -->
    <link name="${prefix}hx2_d1_base">
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${meshes_file_direction}/base.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>

      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${meshes_file_direction}/base.stl" scale="0.001 0.001 0.001"/>
        </geometry>
                <material name="grey">
          <color rgba="0.2 0.2 0.2 1"/>
        </material>
      </visual>

      <inertial>
        <origin xyz="-6.8484893e-05  0.0000000e+00  3.0231995e-02" rpy="0 0 0"/>
        <mass value="2.1967564e-01"/>
        <inertia ixx="1.4908617e-04" ixy="0.0" ixz="8.0082096e-07" iyy="1.1107191e-04" iyz="0.0" izz="1.5613575e-04" />
      </inertial>
    </link>

    <!-- Joint -->
    <joint name="${prefix}joint1" type="revolute">
      <parent link="${prefix}hx2_d1_base"/>
      <child link="${prefix}hx2_d1_r1"/>
      <origin xyz="0.0001 0.008 0.048" rpy="0 0 0"/>
      <axis xyz="1 0 0"/>
      <limit velocity="6.5" effort="1000" lower="0.0" upper="1.1" />
      <dynamics damping="0.7"/>
    </joint>

    <!-- hx2_d1_r1 -->
    <link name="${prefix}hx2_d1_r1">
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${meshes_file_direction}/r1.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>

      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${meshes_file_direction}/r1.stl" scale="0.001 0.001 0.001"/>
        </geometry>
                <material name="grey">
          <color rgba="0.2 0.2 0.2 1"/>
        </material>
      </visual>

      <inertial>
        <origin xyz="0.0000000e+00  3.3664697e-02  3.3231280e-03" rpy="0 0 0"/>
        <mass value="2.1057910e-02"/>
        <inertia ixx="1.1229445e-05" ixy="0.0" ixz="0.0" iyy="6.6539794e-06" iyz="-1.9651419e-06" izz="7.6921770e-06" />
      </inertial>
    </link>

    <!-- Right Joint 2 -->
    <joint name="${prefix}joint2" type="revolute">
      <parent link="${prefix}hx2_d1_r1"/>
      <child link="${prefix}hx2_d1_r2"/>
      <origin xyz="0.0 0.0494977 0.0282667" rpy="0 0 0"/>
      <axis xyz="-1 0 0"/>
      <limit velocity="6.5" effort="1000" lower="0.0" upper="1.0" />
      <dynamics damping="0.7"/>
      <mimic joint="${prefix}joint1" multiplier="1"/>
    </joint>

    <!-- hx2_d1_r2 -->
    <link name="${prefix}hx2_d1_r2">
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${meshes_file_direction}/r2.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>

      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${meshes_file_direction}/r2.stl" scale="0.001 0.001 0.001"/>
        </geometry>
                <material name="grey">
          <color rgba="0.2 0.2 0.2 1"/>
        </material>
      </visual>

      <inertial>
        <origin xyz="0.0000000e+00 6.7070088e-03  1.1261741e-02" rpy="0 0 0"/>
        <mass value="9.5399014e-02"/>
        <inertia ixx="2.1847544e-05" ixy="0.0" ixz="0.0" iyy="2.4457514e-05" iyz="3.7396106e-06" izz="8.1383191e-06" />
      </inertial>
    </link>

    <!-- Left Joint 1 -->
    <joint name="${prefix}joint3" type="revolute">
      <parent link="${prefix}hx2_d1_base"/>
      <child link="${prefix}hx2_d1_l1"/>
      <origin xyz="0.0001 -0.008 0.048" rpy="0 0 0"/>
      <axis xyz="-1 0 0"/>
      <limit velocity="6.5" effort="1000" lower="0.0" upper="1.1" />
      <dynamics damping="0.7"/>
      <mimic joint="${prefix}joint1" multiplier="1"/>
    </joint>

    <!-- hx2_d1_l1 -->
    <link name="${prefix}hx2_d1_l1">
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${meshes_file_direction}/l1.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>

      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${meshes_file_direction}/l1.stl" scale="0.001 0.001 0.001"/>
        </geometry>
                <material name="grey">
          <color rgba="0.2 0.2 0.2 1"/>
        </material>
      </visual>

      <inertial>
        <origin xyz="0.0000000e+00 -3.1948616e-02  1.8581523e-03" rpy="0 0 0"/>
        <mass value="1.8933866e-02"/>
        <inertia ixx="1.0233707e-05" ixy="0.0" ixz="0.0" iyy="6.0862054e-06" iyz="1.4864276e-06" izz="6.9498404e-06" />
      </inertial>
    </link>

    <!-- Left Joint 2 -->
    <joint name="${prefix}joint4" type="revolute">
      <parent link="${prefix}hx2_d1_l1"/>
      <child link="${prefix}hx2_d1_l2"/>
      <origin xyz="0.0 -0.0494977 0.0282667" rpy="0 0 0"/>
      <axis xyz="1 0 0"/>
      <limit velocity="6.5" effort="1000" lower="0.0" upper="1.0" />
      <dynamics damping="0.7"/>
      <mimic joint="${prefix}joint1" multiplier="1"/>
    </joint>

    <!-- hx2_d1_l2 -->
    <link name="${prefix}hx2_d1_l2">
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${meshes_file_direction}/l2.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>

      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${meshes_file_direction}/l2.stl" scale="0.001 0.001 0.001"/>
        </geometry>
                <material name="grey">
          <color rgba="0.2 0.2 0.2 1"/>
        </material>
      </visual>

      <inertial>
        <origin xyz="0.0000000e+00 -6.7070088e-03  1.1261741e-02" rpy="0 0 0"/>
        <mass value="9.5399014e-02"/>
        <inertia ixx="2.1847544e-05" ixy="0.0" ixz="0.0" iyy="2.4457514e-05" iyz="-3.7396106e-06" izz="8.1383191e-06" />
      </inertial>
    </link>

  </xacro:macro>

</robot>
